.noticias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 10%;
    align-items: center;
    justify-content: center;
}

.card-imagem {
    width: 230px;
    height: 170px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    display: block;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* imagem em cima, inferior embaixo */
    position: relative;
    height: 390px;
    /* ou auto + min-height */
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.card-inferior {
    margin-top: auto;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* garante alinhamento interno ao fundo */
}


.card:hover {
    scale: 1.05;
}

.card-conteudo h3 {
    margin-top: 15px;
    font-weight: bold;
}

.card-meta {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
}

.card:hover .card-botoes {
    display: flex;
}

.card-botoes {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    gap: 8px;
}

.card-botoes button,
a {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-expandir {
    background: #007bff;
    color: white;
}

.btn-editar {
    background: #ffc107;
    color: black;
}

.btn-excluir {
    background: #dc3545;
    color: white;
}

.btn-fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #dc3545;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-fechar:hover {
    background: #b02a37;
}

.modalNoticia {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modalConteudoNoticia {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
}

@media (max-width: 1024px) {
    .noticias-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 20px;
    }

    .card {
        width: 80%;
        max-width: 90vw;
        height: 30rem;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .card-imagem {
        width: 100%;
        height: 20rem;
        max-height: 250px;
    }

    .card-botoes {
        position: static;
        margin-top: 10px;
        justify-content: center;
    }

    .modalConteudoNoticia {
        width: 95%;
        padding: 15px;
    }
}