header {
  background: rgb(124, 0, 108);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 30px;
  align-items: center;
  box-sizing: border-box;
}

header a {
  margin: 0px 15px;
}

header h1 {
  font-size: 22px;
  font-weight: bold;
}

footer {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 4rem;
  box-sizing: border-box;
}

.hamburger {
  font-size: 28px;
  background: none;
  border: none;
  width: 223px;
  cursor: pointer;
  display: inline-block; 
}

.menu {
  background: #f4f4f4;
  padding: 10px;
  position: absolute;
  top: 60px;
  right: 20px;
  border: 1px solid #ccc;
  z-index: 999;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 10px 0;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.hidden {
  display: none;
}

.weather-widget {
    font-size: 14px;
    color: #333;
    background-color: #f2f2f2;
    width: 200px;
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
}